<p id="notice"><%= notice %></p>

<p>
  <strong>Transaction number:</strong>
  <%= @account_transaction.transaction_number %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @account_transaction.amount.account %>
</p>

<p>
  <strong>Transaction type:</strong>
  <%= @account_transaction.transaction_type %>
</p>

<p>
  <strong>Account:</strong>
  <%= @account_transaction.account_id %>
</p>

<%= link_to 'Edit', edit_account_transaction_path(@account_transaction) %> |
<%= link_to 'Back', account_transactions_path %>
